@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 250px;
  background-color: #5296BC;
  /* background-color: whitesmoke; */
  border: 1px solid black;
  border-top: 4px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.navDisabled {
  color: #9ca3af;
}

.shakeX {
  animation: shakeX 300ms;
}

.lockShake {
  animation: shakeY 300ms;
}

.refresh {
  animation: refresh 500ms linear infinite;
}

@keyframes shakeX {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px)
  }
}

@keyframes shakeY {
  25% {
    transform: translateY(-4px);
  }
  55% {
    transform: translateY(2px);
  }
  95% {
    transform: translateY(-4px)
  }
}

@keyframes refresh {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}